
<html>
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="  https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> 
<script src="   https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="   https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="   https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="    https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="   https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href ="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">

<link rel="stylesheet" href="{% static 'index.css' %}">


<div class="card shadow">
  <div class="card-body ">
    <h1 class="nav" style="border-bottom: 2px solid orange;">Employee Details</h1>
  <div class="container-fluid">
    <form action="" method="post">
      {% csrf_token %}
      From:<input type="date" name="fromdate" required>
      To: <input type="date" name="todate" required>
      <input type="submit" value="Search">

      <table class="table table-bordered" border="2" id="example">
        <thead>
          <tr>
              <th><center>Employee ID</center></th>
              <th> <center>Employee Name</center></th>
              <th><center> Date</center></th>
              <th><center>Check In</center></th>
              <th><center>Check Out</center> </th>
          </tr>
        </thead>
        <tbody>
          {% for i in stu %}
          <tr>
            <td><center>{{i.Emp_Id}}</center> </td>
            <td><center>{{i.Emp_Name}}</center> </td>
            <td><center>{{i.Date|date:'Y-m-d'}}</center> </td>
            <td><center>{{i.Check_In}}</center> </td>
            <td><center>{{i.Check_Out}}</center> </td>
          </tr>
          {% endfor %} 

      </tbody>
    </table>
    </form>
  </div>
</div>
</div>

<script>

  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bf',
        paging: false,
        ordering: false,
        info: false,
        buttons: [
         
            'csvHtml5',
            'copyHtml5',
            'pdfHtml5'
            
            
           
        ]
    } );
} );
</script>

<center><a class="btn btn-success text-center" id="test" href=" {% url 'user_login' %}">Logout</a></center>
</div>

</body>
</html>